hoist-pattern[]=ts-node
strict-peer-dependencies=true
shell-emulator=true
auto-install-peers=true
link-workspace-packages=false
@categorizr:registry=https://registry.npmjs.org/
always-auth=true
hoist=false